.steps{

    padding:var(--section--spacing) 0;

}

.timeline{

    margin-top:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.step{

    flex:1;

    text-align:center;

}

.step span{

    width:70px;

    height:70px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    font-size:2rem;

    font-weight:700;

    margin-bottom:25px;

}

.step h3{

    margin-bottom:15px;

}

.step p{

    color:var(--text-light);

}

.line{

    width:120px;

    height:4px;

    background:var(--primary-light);

}