:root{

    /* COLORS */

    --primary:#2563EB;
    --primary-light:#DBEAFE;

    --background:#FFFFFF;
    --background-alt:#F8FAFC;

    --text:#1E293B;
    --text-light:#64748B;

    --success:#16A34A;
    --danger:#DC2626;

    /* LAYOUT */

    --container-width:1200px;

    --section-spacing:100px;

    --radius:16px;

    /* SHADOW */

    --shadow-light:0 8px 30px rgba(0,0,0,.08);

    /* TRANSITIONS */

    --transition:.3s;

}